<!DOCTYPE html>
<html class="bg-gray-50" lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <a class="sr-only focus:not-sr-only" href="#content">{{ i18n "skipLink" }}</a>

    {{ partial "header.html" . }}

    <main id="content" class="content">
        <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
            <section
                class="mx-auto max-w-7xl px-8 lg:flex lg:items-center lg:justify-between lg:px-8 border-b border-gray-300 pb-8">

                <article class="flex flex-col items-start justify-between">
                    <h3 class="mt-3 text-3xl font-semibold leading-9 text-gray-900 group-hover:text-gray-600">
                        {{ .Page.Params.title }}
                    </h3>

                    <div class="flex items-center gap-x-2 mt-4 text-xs">
                        {{ range .Page.Params.categories }}
                        <p class="relative z-10 rounded-full bg-green-100 px-3 py-1.5 font-medium text-green-600">
                            {{ . | humanize }}</p>
                        {{ end }}
                    </div>

                    <p class="mt-10 font-semibold text-xl leading-6">{{ i18n "what-learn" }}</p>
                    <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-800">{{
                        .Page.Params.description }}</p>
                </article>

                <div x-data="learningPathCompletion" class="inline-flex items-center justify-center">
                    <svg class="w-[160px] h-[160px]">
                        <circle class="text-gray-300" stroke-width="16" stroke="currentColor" fill="transparent" r="60"
                            cx="80" cy="80" />
                        <circle class="text-green-600" stroke-width="16" :stroke-dasharray="circumference"
                            :stroke-dashoffset="circumference - percent / 100 * circumference" stroke-linecap="round"
                            stroke="currentColor" fill="transparent" r="60" cx="80" cy="80" />
                    </svg>
                    <span class="absolute text-xl font-semibold text-gray-800" x-text="`${percent}%`"></span>
                </div>

            </section>

            <section class="mx-auto max-w-7xl w-full px-8 lg:flex lg:items-center lg:justify-between lg:px-8">
                <div class="flex flex-col">
                    <p class="mt-10 font-semibold text-xl leading-6">{{ i18n "modules" }}</p>
                    <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-500">{{ i18n "modules-description" }}</p>
                </div>
            </section>

            <section id="modules" class="mx-auto max-w-7xl w-full px-8 pb-32 pt-10 grid-cols-1">
                <div class="grid grid-cols-1 gap-8 max-w-3xl">
                    <span class="hidden" id="moduleCount">{{ len .RegularPagesRecursive }}</span>

                    {{ range .RegularPagesRecursive }}
                    <div
                        class="relative flex items-center space-x-3 rounded-3xl border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-green-500 focus-within:ring-offset-2 hover:border-gray-400">
                        <article class="flex flex-col items-start justify-between">
                            <div class="max-w-xl">
                                <div class="flex mb-3 items-center gap-x-2 text-md">
                                    {{ range .Page.Params.categories }}
                                    <p class="relative z-10 font-semibold text-green-600">
                                        {{ . | humanize }}</p>
                                    {{ end }}
                                </div>
                                <div class="group relative">
                                    <h3
                                        class="text-2xl font-semibold leading-9 text-gray-900 group-hover:text-gray-600">
                                        <a href="{{ .Permalink }}">
                                            <span class="absolute inset-0"></span>
                                            {{ .Page.Params.title }}
                                        </a>
                                    </h3>
                                    <p class="mt-2 line-clamp-3 text-sm font-semibold leading-6 text-gray-500">{{
                                        .Page.Params.description }}</p>

                                    <div class="flex items-center gap-x-2 mt-4 text-md">

                                        {{ $permalink := .Permalink }}
                                        {{ $parts := split $permalink "/" }}
                                        {{ $lastTwoParts := index $parts (sub (len $parts) 3) }}
                                        {{ $lastPart := index $parts (sub (len $parts) 2) }}
                                        {{ $url := printf "/%s/%s" $lastTwoParts $lastPart }}

                                        <span class="hidden" id="urlValue">{{ $url }}</span>

                                        <div x-data="learningPath" x-init="init()">
                                            <p x-show="isModuleCompleted('{{ $url }}')"
                                            class="relative z-10 rounded-full bg-green-50 border-solid border-2 border-green-200 px-3 py-0.5 font-medium text-sm text-green-700">
                                            {{ i18n "done" }}</p>
                                        <p x-show="isModuleNotCompleted('{{ $url }}')"
                                            class="relative z-10 rounded-full bg-red-50 border-solid border-2 border-red-200 px-3 py-0.5 font-medium text-sm text-red-700">
                                            {{ i18n "todo" }}</p>
                                        </div>
                                        
                                    </div>

                                </div>

                            </div>
                        </article>
                    </div>
                    {{ end }}
                </div>
            </section>

        </div>
    </main>

    <script>
        const learningPathCompletion = () => {
            return {
                init() {
                    // Update the progress initially on page load
                    this.updateLearningPathProgress();

                    // Listen for changes in localStorage and update progress accordingly
                    window.addEventListener("storage", () => {
                        this.updateLearningPathProgress();
                    });
                },
                circumference: 60 * 2 * Math.PI,
                percent: 0,
                updateLearningPathProgress() {

                    const permalinkParts = window.location.pathname.split("/"); // Split the URL by "/"
                    const lastItem = permalinkParts[permalinkParts.length - 1]; // Get the last item in the URL

                    let completedModules = 0;

                    // Retrieve the username from localStorage
                    const username = localStorage.getItem("loggedInUser");

                    // Retrieve the userData object from localStorage
                    const userDataString = localStorage.getItem(username);
                    const userData = JSON.parse(userDataString);

                    // Loop through all modules and count completed ones
                    for (let [key, value] of Object.entries(userData)) {
                        // Check if the key starts with the last item in the URL
                        if (key.startsWith(lastItem)) {
                            // Use the value directly instead of retrieving it again from localStorage
                            if (value === true) {
                                completedModules++;
                            }
                        }
                    }

                    const moduleCount = document.getElementById("moduleCount").innerHTML; // Total number of modules in the learning path

                    // Calculate progress percentage
                    const progressPercentage = (completedModules / moduleCount) * 100;

                    // Update the progress in Alpine.js data
                    this.percent = progressPercentage.toFixed(0);
                },
            }
        }

        const learningPath = () => {
        return {
            init() {
                // Retrieve the username from localStorage
                this.username = localStorage.getItem("loggedInUser");

                // Initialize module completion states for the current user from localStorage
                this.moduleCompletionStates = this.username ? JSON.parse(localStorage.getItem(this.username)) || {} : {};

                const urlValue = document.getElementById('urlValue').innerHTML
            },
            isModuleCompleted(urlValue) {
                // Check if the module is completed based on its ID
                return this.moduleCompletionStates[urlValue] === true;
            },
            isModuleNotCompleted(urlValue) {
                // Check if the module is completed based on its ID
                return this.moduleCompletionStates[urlValue] === false;
            }
        };
    };
    </script>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}

</body>