<!DOCTYPE html>
<html class="bg-gray-50" lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body x-data="learningPathComponent()" x-init="init()">
    <a class="sr-only focus:not-sr-only" href="#content">{{ i18n "skipLink" }}</a>

    {{ partial "header.html" . }}

    <main id="content" class="content">
        <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
            <section
                class="mx-auto max-w-7xl px-8 lg:flex lg:items-center lg:justify-between lg:px-8 border-b border-gray-300 pb-8">

                <article class="flex flex-col items-start justify-between">
                    <h3 class="mt-3 text-3xl font-semibold leading-9 text-gray-900 group-hover:text-gray-600">
                        {{ .Page.Params.title }}
                    </h3>

                    <div class="flex items-center gap-x-2 mt-4 text-xs">
                        {{ range .Page.Params.categories }}
                        <p class="relative z-10 rounded-full bg-green-100 px-3 py-1.5 font-medium text-green-600">
                            {{ . | humanize }}</p>
                        {{ end }}
                    </div>

                    <p class="mt-10 font-semibold text-xl leading-6">{{ i18n "what-learn" }}</p>
                    <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-800">{{
                        .Page.Params.description }}</p>
                </article>

                <div id="progress-bar" class="hidden items-center justify-center">
                    <svg class="w-[160px] h-[160px]">
                        <circle class="text-gray-300" stroke-width="16" stroke="currentColor" fill="transparent" r="60"
                            cx="80" cy="80" />
                        <circle class="text-green-600" stroke-width="16" :stroke-dasharray="circumference"
                            :stroke-dashoffset="circumference - percent / 100 * circumference" stroke-linecap="round"
                            stroke="currentColor" fill="transparent" r="60" cx="80" cy="80" />
                    </svg>
                    <span class="absolute text-xl font-semibold text-gray-800" x-text="`${percent}%`"></span>
                </div>

            </section>

            <section id="modules"
                class="mx-auto max-w-7xl w-full px-8 pb-32 pt-10 flex flex-col lg:flex-row justify-between grid-cols-1 gap-8">
                <div class="grid order-last lg:order-first grid-cols-1 gap-8 w-full">
                    <span class="hidden" id="moduleCount" data-count="{{ len .RegularPagesRecursive }}"></span>

                    <div class="flex flex-col">
                        <p class="font-semibold text-xl leading-6">{{ i18n "introduction" }}</p>
                        <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-500">{{ i18n "introduction-description" }}</p>
                    </div>

                    {{ range where .RegularPagesRecursive "Params.style" "=" "introduction" }}
                    <div
                        class="relative flex items-center space-x-3 rounded-3xl border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-green-500 focus-within:ring-offset-2 hover:border-gray-400">
                        <article class="flex flex-col items-start justify-between">
                            <div class="w-full">
                                <div class="flex mb-3 items-center gap-x-2 text-md">
                                    {{ range .Page.Params.categories }}
                                    <p class="relative z-10 font-semibold text-green-600">
                                        {{ . | humanize }}</p>
                                    {{ end }}
                                </div>
                                <div class="group relative">
                                    <h3
                                        class="text-2xl font-semibold leading-9 text-gray-900 group-hover:text-gray-600">
                                        <a href="{{ .Permalink }}">
                                            <span class="absolute inset-0"></span>
                                            {{ .Page.Params.title }}
                                        </a>
                                    </h3>
                                    <p class="mt-2 line-clamp-3 text-sm font-semibold leading-6 text-gray-500">{{
                                        .Page.Params.description }}</p>

                                    <div class="flex items-center gap-x-2 mt-4 text-md">

                                        {{ $permalink := .Permalink }}
                                        {{ $parts := split $permalink "/" }}
                                        {{ $lastTwoParts := index $parts (sub (len $parts) 3) }}
                                        {{ $lastPart := index $parts (sub (len $parts) 2) }}
                                        {{ $url := printf "/%s/%s" $lastTwoParts $lastPart }}

                                        <span class="hidden urlValue">{{ $url }}</span>

                                        <div>
                                            <div x-show="isModuleCompleted('{{ $url }}')">
                                                <p
                                                    class="relative z-10 rounded-full bg-green-50 border-solid border-2 border-green-200 px-3 py-0.5 font-medium text-sm text-green-700">
                                                    {{ i18n "done" }}</p>
                                            </div>
                                            <div x-show="isModuleNotCompleted('{{ $url }}')">
                                                <p
                                                    class="relative z-10 rounded-full bg-red-50 border-solid border-2 border-red-200 px-3 py-0.5 font-medium text-sm text-red-700">
                                                    {{ i18n "todo" }}</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </article>
                    </div>
                    {{ end }}

                    <div class="flex flex-col">
                        <p class="mt-10 font-semibold text-xl leading-6">{{ i18n "modules" }}</p>
                        <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-500">{{ i18n "modules-description" }}</p>
                    </div>

                    {{ range where .RegularPagesRecursive "Params.style" "=" "module" }}
                    <div
                        class="relative flex items-center space-x-3 rounded-3xl border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-green-500 focus-within:ring-offset-2 hover:border-gray-400">
                        <article class="flex flex-col items-start justify-between">
                            <div class="w-full">
                                <div class="flex mb-3 items-center gap-x-2 text-md">
                                    {{ range .Page.Params.categories }}
                                    <p class="relative z-10 font-semibold text-green-600">
                                        {{ . | humanize }}</p>
                                    {{ end }}
                                </div>
                                <div class="group relative">
                                    <h3
                                        class="text-2xl font-semibold leading-9 text-gray-900 group-hover:text-gray-600">
                                        <a href="{{ .Permalink }}">
                                            <span class="absolute inset-0"></span>
                                            {{ .Page.Params.title }}
                                        </a>
                                    </h3>
                                    <p class="mt-2 line-clamp-3 text-sm font-semibold leading-6 text-gray-500">{{
                                        .Page.Params.description }}</p>

                                    <div class="flex items-center gap-x-2 mt-4 text-md">

                                        {{ $permalink := .Permalink }}
                                        {{ $parts := split $permalink "/" }}
                                        {{ $lastTwoParts := index $parts (sub (len $parts) 3) }}
                                        {{ $lastPart := index $parts (sub (len $parts) 2) }}
                                        {{ $url := printf "/%s/%s" $lastTwoParts $lastPart }}

                                        <span class="hidden urlValue">{{ $url }}</span>

                                        <div>
                                            <div x-show="isModuleCompleted('{{ $url }}')">
                                                <p
                                                    class="relative z-10 rounded-full bg-green-50 border-solid border-2 border-green-200 px-3 py-0.5 font-medium text-sm text-green-700">
                                                    {{ i18n "done" }}</p>
                                            </div>
                                            <div x-show="isModuleNotCompleted('{{ $url }}')">
                                                <p
                                                    class="relative z-10 rounded-full bg-red-50 border-solid border-2 border-red-200 px-3 py-0.5 font-medium text-sm text-red-700">
                                                    {{ i18n "todo" }}</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </article>
                    </div>
                    {{ end }}
                </div>

                <!-- Badge -->
                <div id="badge-card"
                    class="hidden relative lg:order-first h-max mb-8 items-center space-x-3 rounded-3xl border border-gray-300 bg-white px-16 py-5 shadow-sm focus-within:ring-2 focus-within:ring-green-500 focus-within:ring-offset-2">
                    <div class="grid place-items-center" x-data="learningPathComponent()" x-init="init()">
                        <img class="mb-5 w-36" src="/media/badges/{{ .Page.Params.icon }}-badge-incomplete.svg"
                            alt="Incomplete Badge Image" x-show="showBadge" />
                        <img class="mb-5 w-36" src="/media/badges/{{ .Page.Params.icon }}-badge.svg"
                            alt="Full Badge Image" x-show="fullBadge" />

                        <p id="onlyOneModuleLeft" class="hidden">{{ i18n "only_one_module_left" }}</p>
                        <p id="multipleModulesLeft" class="hidden">{{ i18n "multiple_modules_left" }}</p>

                        <p id="badgeCompleted" class="hidden">{{ i18n "badge_completed" }}</p>
                        <p id="badgeName" class="hidden">{{ .Page.Params.badge }}</p>

                        <p class="text-md text-center font-semibold" x-text="completionMessage"></p>
                    </div>
                </div>

            </section>

        </div>
    </main>

    <script>
        const learningPathComponent = () => {
            return {
                circumference: 60 * 2 * Math.PI,
                percent: 0,
                remainingModules: 0,
                showBadge: true,
                fullBadge: false,
                moduleCompletionStates: {},

                init() {
                    this.updateLearningPathProgress();
                    window.addEventListener("storage", () => {
                        this.updateLearningPathProgress();
                    });
                },

                updateLearningPathProgress() {
                    const permalinkParts = window.location.pathname.split("/");
                    const lastItem = "/" + permalinkParts[permalinkParts.length - 2];

                    let completedModules = 0;

                    const username = localStorage.getItem("loggedInUser");
                    const userDataString = localStorage.getItem(username);
                    const userData = JSON.parse(userDataString);

                    for (let [key, value] of Object.entries(userData)) {
                        if (key.startsWith(lastItem)) {
                            // Update module completion states
                            this.moduleCompletionStates[key] = value;
                            // Count completed modules
                            if (value === true) {
                                completedModules++;
                            }
                        }
                    }

                    const moduleCount = parseInt(document.getElementById("moduleCount").getAttribute("data-count"));
                    this.percent = ((completedModules / moduleCount) * 100).toFixed(0);
                    this.remainingModules = moduleCount - completedModules;
                    this.updateBadgeVisibility();
                },

                isModuleCompleted(urlValue) {
                    return this.moduleCompletionStates[urlValue] === true;
                },

                isModuleNotCompleted(urlValue) {
                    return !this.isModuleCompleted(urlValue);
                },

                updateBadgeVisibility() {
                    if (this.remainingModules > 0) {
                        this.showBadge = true;
                        this.fullBadge = false;
                    } else {
                        this.showBadge = false;
                        this.fullBadge = true;
                    }
                },

                get completionMessage() {
                    if (this.remainingModules === 1) {
                        return document.getElementById("onlyOneModuleLeft").innerText;
                    } else
                        if (this.remainingModules > 1) {
                            return document.getElementById("multipleModulesLeft").innerText.replace("'count'", this.remainingModules);
                        } else {
                            const badgeName = document.getElementById("badgeName").innerText;
                            return document.getElementById("badgeCompleted").innerText.replace("'badge_name'", badgeName);
                        }
                }
            }
        }
    </script>

    {{ partial "footer.html" . }}

</body>