<!DOCTYPE html>
<html class="h-full bg-gray-50" lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body class="h-full">
    <a class="sr-only focus:not-sr-only" href="#content">{{ i18n "skipLink" }}</a>

    {{ partial "header.html" . }}

    <main id="content" class="content">
        
        <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
            <section class="mx-auto max-w-3xl w-full px-8 flex-col lg:flex lg:items-center lg:justify-between lg:px-8">

                <article class="w-full flex flex-col items-start justify-between border-b border-gray-300 pb-8 mb-5">
                    {{ if eq .Page.Params.style "introduction" }}
                    {{ else }}
                    <p class="text-sm text-gray-500">Module {{ .Page.Params.weight }}</p>
                    {{ end }}
                    <h1 class="mt-2 text-3xl font-semibold leading-9 text-gray-900 group-hover:text-gray-600">
                        {{ .Page.Params.title }}
                    </h1>
                </article>


                {{ if eq .Page.Params.style "module" }}
                <section class="w-full flex flex-col items-start justify-between border-gray-300 border-b pb-8 mb-7">
                    <h2 class="text-2xl font-semibold mb-4">{{ i18n "objective" }}</h2>
                    <p class="text-gray-600 mb-7">{{ .Page.Params.objective }}</p>
                    <h2 class="text-2xl font-semibold mb-4">{{ i18n "usecase" }}</h2>
                    <p class="text-gray-600">{{ .Page.Params.usecase }}</p>
                </section>
                {{ else }}
                {{ end }}

                <section class="markdown w-full flex flex-col items-start justify-between">
                    {{ .Content | markdownify }}
                </section>

                <section id="mark-complete" class="w-full flex-col items-start justify-between">
                    <div
                        class="w-full relative flex items-center space-x-3 rounded-3xl border-2 border-gray-300 bg-white px-6 py-5 shadow-sm hover:border-gray-400">
                        <div
                            class="relative w-full flex items-start space-x-3 py-3 px-4 rounded-xl border-2 border-gray-300 bg-gray-100">
                            <div class="flex h-6 items-center">
                                <input id="{{ .Page.Params.title }}Checkbox" aria-describedby="checkbox-description"
                                    name="checkbox" type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="{{ .Page.Params.title }}Checkbox" class="font-medium text-gray-900">{{ i18n
                                    "markAsComplete" }}</label>
                                <p id="checkbox-description" class="text-gray-500 sr-only">{{ i18n "markAsCompleteARIA"
                                    }}</p>
                            </div>
                        </div>
                    </div>

                </section>

                <section class="w-full flex flex-col items-start justify-between">

                    {{ $permalink := .Permalink }}
                    {{ $parts := split $permalink "/" }}
                    {{ $lastTwoParts := index $parts (sub (len $parts) 3) }}
                    {{ $lastPart := index $parts (sub (len $parts) 2) }}
                    {{ $url := printf "/%s/%s" $lastTwoParts $lastPart }}

                    <span id="moduleId" class="hidden">{{ $url }}</span>

                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            // Retrieve the moduleId from the URL or any other consistent source
                            const moduleId = document.getElementById("moduleId").innerHTML;

                            // Retrieve the checkbox element
                            const checkbox = document.getElementById("{{ .Page.Params.title }}Checkbox");

                            // Retrieve the username from localStorage
                            const username = localStorage.getItem("loggedInUser");

                            // Retrieve the userData object from localStorage
                            const userDataString = localStorage.getItem(username);
                            const userData = userDataString ? JSON.parse(userDataString) : {};

                            // Retrieve the checkbox state from the userData object
                            const completionState = userData[moduleId] === true;

                            // Set the checkbox state
                            checkbox.checked = completionState;

                            // Add an event listener to the checkbox to store the completion state in localStorage when it changes
                            checkbox.addEventListener("change", function () {
                                // Update userData with moduleId and its completion state
                                userData[moduleId] = this.checked;

                                // Store updated userData back in localStorage
                                localStorage.setItem(username, JSON.stringify(userData));
                            });
                        });
                    </script>
                </section>

            </section>
        </div>
    </main>

    {{ partial "footer.html" . }}
</body>