<!DOCTYPE html>
<html class="h-full bg-gray-50" lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body class="h-full">
    <a class="sr-only focus:not-sr-only" href="#content">{{ i18n "skipLink" }}</a>

    {{ partial "header.html" . }}

    <main id="content" class="content">
        {{ partial "breadcrumbs.html" . }}
        <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
            <section class="mx-auto max-w-4xl w-full px-8 flex-col lg:flex lg:items-center lg:justify-between lg:px-8">

                <article class="w-full flex flex-col items-start justify-between border-b border-gray-300 pb-8 mb-5">
                    <p class="text-sm text-gray-500">Module 1</p>
                    <h1 class="mt-2 text-3xl font-semibold leading-9 text-gray-900 group-hover:text-gray-600">
                        {{ .Page.Params.title }}
                    </h1>
                </article>

                <section class="w-full flex flex-col items-start justify-between border-gray-300 border-b pb-8 mb-7">
                    <h2 class="text-2xl font-semibold mb-4">{{ i18n "objective" }}</h2>
                    <p class="text-gray-600 mb-7">{{ .Page.Params.objective }}</p>
                    <h2 class="text-2xl font-semibold mb-4">{{ i18n "usecase" }}</h2>
                    <p class="text-gray-600">{{ .Page.Params.usecase }}</p>
                </section>

                <section class="markdown w-full flex flex-col items-start justify-between">
                    {{ .Content | markdownify }}
                </section>

                <section class="w-full flex flex-col items-start justify-between">
                    <input type="checkbox" id="{{ .Page.Params.title }}Checkbox">
                    <label for="{{ .Page.Params.title }}Checkbox">Mark as Complete</label>

                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            // Generate a unique module ID based on the URL of the module page
                            const moduleId = window.location.pathname.replace(/\//g, "_");

                            const checkbox = document.getElementById("{{ .Page.Params.title }}Checkbox");

                            // Retrieve the completion state from localStorage and update the checkbox state accordingly
                            const completionState = localStorage.getItem(moduleId) === "true";
                            checkbox.checked = completionState;

                            // Add an event listener to the checkbox to store the completion state in localStorage when it changes
                            checkbox.addEventListener("change", function () {
                                localStorage.setItem(moduleId, this.checked); // Store completion state in localStorage
                            });
                        });
                    </script>
                </section>

            </section>
        </div>
    </main>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
</body>