@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Inter", sans-serif;
    font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: "InterVariable", sans-serif;
      font-optical-sizing: auto;
    }
  }

  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter/InterVariable.woff2") format("woff2");
  }

  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter/InterVariable-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src:
      url("/fonts/outfit/OutfitVariable.woff2")
        format("woff2 supports variations"),
      url("/fonts/outfit/OutfitVariable.woff2") format("woff2-variations");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Outfit;
  }

  ::file-selector-button {
    display: none;
  }

  .markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1.25rem;
    }
    
    h2 {
      font-weight: 600;
      font-size: 1.5rem;
    }

    p {
      color: #475467;
      margin-bottom: 1rem;
    }
  }
}
