<!DOCTYPE html>
<html class="bg-gray-50" lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body x-data="badgesComponent()" x-init="init()">
    <a class="sr-only focus:not-sr-only" href="#content">{{ i18n "skipLink" }}</a>

    {{ partial "header.html" . }}

    <main id="content" class="content">
        <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
            <section
                class="mx-auto max-w-7xl px-8 lg:flex lg:items-center lg:justify-between lg:px-8 pb-8">

                <article class="flex flex-col items-start justify-between">
                    <h3 class="mt-3 text-3xl font-semibold leading-9 text-gray-900 group-hover:text-gray-600">
                        {{ .Page.Params.title }}
                    </h3>

                    <div class="flex items-center gap-x-2 mt-4 text-xs">
                        {{ range .Page.Params.categories }}
                        <p class="relative z-10 rounded-full bg-green-100 px-3 py-1.5 font-medium text-green-600">
                            {{ . | humanize }}</p>
                        {{ end }}
                    </div>

                    <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-800">{{
                        .Page.Params.description }}</p>
                </article>
            </section>

            <section class="mx-auto max-w-7xl px-8 pb-32 pt-10 grid grid-cols-1 lg:grid-cols-2 gap-8 w-full">
                {{ range where (where .Site.Pages "Section" "learning-path" ) "Params.type" "=" "learning-path" }}
                <div
                    class="relative flex space-x-3 rounded-3xl border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-green-500 focus-within:ring-offset-2 hover:border-gray-400">

                        <article class="flex gap-x-4 py-5">
                            <!-- Dynamic badge icon based on completion progress -->
                            <img class="w-20 flex-none" :src="badgeIcon('{{ .Page.Params.icon }}', '{{ .Permalink }}')" alt="Badge Icon" />

                            <div class="min-w-0">
                                <p class="text-sm font-semibold text-gray-900">{{ i18n "badges" 1 }}</p>
                                <p class="text-2xl font-semibold text-gray-900">{{ .Page.Params.badge }}</p>
                                <p class="text-xs font-semibold mt-2 py-1.5 px-2 inline-block text-gray-800 bg-yellow-100 rounded-md" x-text="completionMessage('{{ .Permalink }}')"></p>
                            </div>
                        </article>

                </div>
                {{ end }}
            </section>

            <script>
                const badgesComponent = () => {
                    return {
                        // Function to dynamically determine badge icon based on completion progress
                        badgeIcon(icon, permalink) {
                            const username = localStorage.getItem("loggedInUser");
                            const userDataString = localStorage.getItem(username);
                            const userData = JSON.parse(userDataString);
        
                            const lastItem = permalink.split("/").slice(-2, -1)[0]; // Extract last part of permalink for key in localStorage
                            const badgeKey = `/${lastItem}`;
        
                            let completedModules = 0;
                            let modulesCount = 0;
        
                            for (let [key, value] of Object.entries(userData)) {
                                if (key.startsWith(badgeKey)) {
                                    modulesCount++; // Count total modules in the learning path
                                    if (value === true) {
                                        completedModules++; // Count completed modules
                                    }
                                }
                            }
        
                            const remainingModules = modulesCount - completedModules;
        
                            // Decide which badge icon to show based on completion progress
                            if (remainingModules === 0) {
                                return `/media/badges/${icon}-badge.svg`; // Fully completed badge icon
                            } else {
                                return `/media/badges/${icon}-badge-incomplete.svg`; // Incomplete badge icon
                            }
                        },
        
                        // Function to calculate completion progress message
                        completionMessage(permalink) {
                            const username = localStorage.getItem("loggedInUser");
                            const userDataString = localStorage.getItem(username);
                            const userData = JSON.parse(userDataString);
        
                            const lastItem = permalink.split("/").slice(-2, -1)[0]; // Extract last part of permalink for key in localStorage
                            const badgeKey = `/${lastItem}`;

                            let completedModules = 0;
                            let modulesCount = 0;
        
                            for (let [key, value] of Object.entries(userData)) {
                                if (key.startsWith(badgeKey)) {
                                    modulesCount++; // Count total modules in the learning path
                                    if (value === true) {
                                        completedModules++; // Count completed modules
                                    }
                                }
                            }
        
                            const remainingModules = modulesCount - completedModules;
        
                            if (remainingModules === 1) {
                                return '{{ i18n "modules_left" 1 }}';
                            } else if (remainingModules > 1) {
                                return '{{ i18n "modules_left" 2 }}'.replace("'count'", remainingModules);
                            } else {
                                return '{{ i18n "badge_completed" }}';
                            }
                        },
        
                        init() {
                        }
                    };
                };
            </script>

        </div>
    </main>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

</body>