<section id="breadcrumb" class="mx-auto max-w-7xl px-8 lg:px-8 lg:pt-16">
    <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol role="list" class="flex items-center space-x-4" itemscope itemtype="https://schema.org/BreadcrumbList">
            {{- $data := newScratch }}
            {{- range $index, $value := .Ancestors.Reverse }}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                {{- $data.Set "counter" $index }}
                {{- $data.Add "counter" 1 }}
                {{ if .IsHome }}
                <div>
                    <a itemprop="item" href="{{ relLangURL "/" }}" class="text-gray-400 hover:text-gray-500">
                        <span itemprop="name">
                            <svg class="h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span class="sr-only">Home</span>
                        </span>
                    </a>
                    <meta itemprop="position" content='{{ $data.Get "counter"}}' />
                </div>
                {{ else }}
                <div class="flex items-center">
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20"
                        aria-hidden="true">
                        <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                    </svg>
                    <a class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page"
                        itemprop="item" href="{{ .Permalink }}">
                        <span itemprop="name">{{ .Title }}</span>
                    </a>
                    <meta itemprop="position" content='{{ $data.Get "counter"}}' />
                </div>
                {{- end }}
                {{ end }}
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                {{- $data.Add "counter" 1 }}
                <div class="flex items-center">
                    <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20"
                        aria-hidden="true">
                        <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                    </svg>
                    <a class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page"
                        itemprop="item" href="{{ .Permalink }}">
                        <span itemprop="name">{{ .Title }}</span>
                    </a>
                    <meta itemprop="position" content='{{ $data.Get "counter"}}' />
                </div>
            </li>
        </ol>
    </nav>
</section>